/* stylin' */

/* ======================================
Google fonts for reference:
font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Roboto Mono', monospace;
====================================== */


/* ======================================
 Tag Data
 ====================================== */
 
body {
   height: 100%;
   padding: 0;
   margin: 0;
   background-color: rgba(235, 235, 240, .9);
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: whitesmoke;
}

h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: rgb(68, 31, 235);
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    color: rgb(34, 33, 33);
    padding-left: 10px;
    line-height: 1em;
}

h4 {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    color: #BC25E8;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    color: rgb(34, 33, 33);
    display: block;
    margin: 10px;
    line-height: 1.5em;
}

button {
    height: 40px; 
    width: 150px; 
    display: block; 
    margin: 0 auto;
    color: rgb(31, 30, 30) !important;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

/* ======================================
 Class Data
 ====================================== */
 
 .info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #BC25E8;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.comment {
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px;
    font-style: italic !important;
    text-align: center !important;
    color: rgb(65, 63, 63);
    display: block;
    margin: 10px;
    line-height: 2em;
}

/* .myTooltip {
    background: white;
    border: 2px solid cyan
} */

.leaflet-tooltip-left.myCSSClass::before {
    border-left-color: cyan;
}
.leaflet-tooltip-right.myCSSClass::before {
    border-right-color: cyan;
}

.button {
    background-color: rgb(194, 194, 194); 
    border: none;
    color: rgb(31, 30, 30) !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
  }


.jumbotron {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    color: whitesmoke;
    background-image: url("../images/ronda-darby-HbMLSB-uhQY-unsplash.jpg");
    background-size: cover;
    min-height: 350px;
    margin: 0px;
    position: relative;
}

.jumbotron > .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(8, 9, 58, 0.5);
    z-index: 1;
}

.jumbotron > .inner {
    position: relative;
    z-index: 2;
}

.h3-white {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    color: whitesmoke;
    padding:30px;
}

.whitespace {
    padding: 30px;
}

.footer {
    background-color:#555;
    color:whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 20px;
}

a.bg-light:hover, a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
background-color: #dae0e5 !important;
}

.text-muted {
    color: whitesmoke;
}


/* ======================================
 ID Data
 ====================================== */

#navbar {
  background-color: white;
  border-bottom: 1px;
  margin-bottom: 0px;
}

#navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: rgb(34, 33, 33);
}

.legend {
    padding: 6px 8px;
    font: 12px 'Lato', sans-serif;
    font-weight: bold;
    color: #555;
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
  
.legend ul {
    padding: 0;
    margin: 0;
    clear: both;
    list-style-type: none;
}
  
.legend li {
    display: inline-block;
    width: 24px;
    height: 22px;
}
  
.legend .min {
    float: left;
    padding-bottom: 5px;
}
  
.legend .max {
    float: right;
}

.legend p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    color: rgb(34, 33, 33);
    margin: 2px;
}

/* ======================================
 Tooltips
 ====================================== */

a.tooltip {outline:none; }
a.tooltip strong {line-height:30px;}
a.tooltip:hover {text-decoration:none;} 
a.tooltip span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:60px; margin-left:-160px;
    width:300px; line-height:16px;
}
a.tooltip:hover span{
    display:inline; position:absolute; 
    border:2px solid #FFF;  color:#EEE;
    background:rgb(83, 248, 243) url(http://www.menucool.com/tooltip/cssttp/css-tooltip-gradient-bg.png) repeat-x 0 0;
}

.callout {z-index:20;position:absolute;border:0;top:-14px;left:120px;}
    
/*CSS3 extras*/
a.tooltip span
{
    border-radius:2px;        
    box-shadow: 0px 0px 8px 4px #666;
    /*opacity: 0.8;*/
}
